*.o
*.ko
*.mod.c
modules.*
*~
*.a
*.log
.libs/*
.libs/
.deps/
*.cmd
usbip
usbipd
Module*
.tmp_versions/
config.*
Makefile.in
userspace/aclocal.m4
configure
depcomp
install-sh
Makefile.in
*.la
*.lo
*.sh
missing
stamp-h1

